/* global.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .parallax {
    background-image: url("./img/bannerprincipal.png");
    margin: 0;
    height: 600px;
    background-attachment: fixed;
    background-size: contain; 
    background-position: top center;
    background-repeat: no-repeat;
}    

.container{
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: center;
    font-size: 128px;
}

.cabecalho .barra_inicial {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cabecalho .barra_inicial p {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 25px;
    }

.cabecalho h1 {
    font-size: 5vw;
    margin-top: 5%;
    white-space: nowrap;
    text-align: center;
}
.cabecalho a {
    color: #f7941d;
    text-decoration: none;
    font-size: 25px;
    font-family: 'lilita one', cursive;

  }
  
  .hero {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  .hero-content p{
    text-align: justify;
  }
  
  .team {
    text-align: center;
    padding: 80px 0;
  }
  
  .team h2 {
    margin-bottom: 40px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .member {
    margin: 20px;
  }
  
  .member h3 {
    margin: 10px 0;
  }
  
  .member p {
    margin-bottom: 10px;
  }
  
  .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .social-icons li {
    margin: 0 5px;
  }
  
  .social-icons li a {
    color: #E4C05A;
    text-decoration: none;
    font-size: 20px;
  }
  
footer {
    margin-top: 100px;
    background-color: #E4C05A;
    height: 100px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
  