* {
    margin: 0;
    padding: 0;
  
  }

body{
    overflow-x:hidden;
}

.parallax {
    background-image: url("./img/bannerprincipal.png");
    margin: 0;
    height: 600px;
    background-attachment: fixed;
    background-size: contain; 
    background-position: top center;
    background-repeat: no-repeat;
}    

.container{
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: center;
    font-size: 128px;
}

.cabecalho .barra_inicial {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cabecalho .barra_inicial p {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 25px;
    }

.cabecalho h1 {
    font-size: 5vw;
    margin-top: 5%;
    white-space: nowrap;
    text-align: center;
}
.cabecalho a {
    color: #f7941d;
    text-decoration: none;
    font-size: 25px;
    font-family: 'lilita one', cursive;

  }
.title {
    overflow: hidden;
    text-align: center;
    padding: 3rem;
    margin: 0 10rem 0 10rem;
}


.title:before,
.title:after {
    background-color: #D9D9D9;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.title:before {
    right: 0.5em;
    margin-left: -50%;
}

.title:after {
    left: 0.5em;
    margin-right: -50%;
}

hr{
    margin: 2rem 6rem 2rem 6rem;
}

.lista{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;

    margin: 0 10rem 0 10rem;
    
}

.lista {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.imagem_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 7px;
    width: 40%;
}

.imagem_div img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.imagem_div .div_time{
    margin: 0.5rem 0 0 1rem;
    display: flex;
    flex: row;
}

.imagem_div .div_time .time{
    background-color: #D9D9D9;
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
}

.imagem_div .div_time .p_time{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0.5rem;
}

.texto_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    /* background-color: #E4C05A; */
}

.texto_div .p_texto {
    text-align: justify;
    padding: 0.5rem 2rem 2rem 2rem; 
    font-size: 1em;
    max-height: 12rem;
    overflow-y: scroll;
}

.texto_div .p_texto::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.texto_div .p_texto::-webkit-scrollbar-track {
    background-color: #F5F5F5; /* Cor de fundo da barra de rolagem */
}

.texto_div .p_texto::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do preenchimento da barra de rolagem */
    border-radius: 5px; /* Raio de borda da barra de rolagem */
}

.texto_div .p_texto::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do preenchimento da barra de rolagem em hover */
}

.texto_div .keepReading {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 2rem;
    padding: 0.5rem;
    background-color: rgba(235, 131, 52, 0.9); /* Diminuir a opacidade */
    width: auto;
    transition: background-color 0.3s;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
}

.texto_div .keepReading:hover {
    background-color: rgba(235, 131, 52, 0.7); /* Diminuir a opacidade no hover */
}

.texto_div .keepReading p {
    padding: 0;
    text-align: center;
    margin: 0;
}

footer{
    background-color: #E4C05A;
    height: 70px;
    align-items:end;
    display:flex;
    justify-content:flex-end;
}

@media (max-width: 768px) {

    .title {
        overflow: hidden;
        text-align: center;
        padding: 3rem;
        margin: 0 1rem;
    }
    
    .title:before,
    .title:after {
        background-color: #D9D9D9;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    
    .title:before {
        right: 0.5em;
        margin-left: -25%; /* Reduzir a metade da margem esquerda para manter o alinhamento */
    }
    
    .title:after {
        left: 0.5em;
        margin-right: -25%; /* Reduzir a metade da margem direita para manter o alinhamento */
    }
    
    hr {
        margin: 2rem 1rem; /* Reduzir as margens laterais para se adequar a um iPhone 12 */
    }

    .lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0 0 0 2rem;
    }
    
    .imagem_div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        width: 80%;
        margin: 1rem;
    }
    
    .imagem_div img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
    
    .imagem_div .div_time {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 0.5rem 65% 0 0;
    }
    
    .imagem_div .time {
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .imagem_div .div_time .p_time {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 0.5rem;
    }
    
    .texto_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }    
    
    .texto_div .p_texto {
        text-align: justify;
        padding: 0.5rem 2rem 2rem 2rem; 
        font-size: 1em;
        max-height: 12rem;
        overflow-y: scroll;
    }
    
    .texto_div .p_texto::-webkit-scrollbar {
        width: 10px; /* Largura da barra de rolagem */
    }
    
    .texto_div .p_texto::-webkit-scrollbar-track {
        background-color: #F5F5F5; /* Cor de fundo da barra de rolagem */
    }
    
    .texto_div .p_texto::-webkit-scrollbar-thumb {
        background-color: #888; /* Cor do preenchimento da barra de rolagem */
        border-radius: 5px; /* Raio de borda da barra de rolagem */
    }
    
    .texto_div .p_texto::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Cor do preenchimento da barra de rolagem em hover */
    }

    .texto_div .keepReading {
        display: flex;
        justify-content: flex-start;
        margin: 1.5rem 0 0 0;
        padding: 0.5rem;
        background-color: rgba(235, 131, 52, 0.9); /* Diminuir a opacidade */
        width: auto;
        transition: background-color 0.3s;
        border: none;
        border-radius: 0.3rem;
        cursor: pointer;
        font-weight: bold;
    }
}

footer {
    margin-top: 100px;
    background-color: #E4C05A;
    height: 100px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}