* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    overflow-x:hidden;
}

body h1{
    width:100%;
    text-align:center;
}

.parallax {
    background-image: url("./img/bannerprincipal.png");
    margin: 0;
    height: 600px;
    background-attachment: fixed;
    background-size: contain; 
    background-position: top center;
    background-repeat: no-repeat;
}    

.container{
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: center;
    font-size: 128px;
}

.cabecalho .barra_inicial {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cabecalho .barra_inicial p {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 25px;
    }

.cabecalho h1 {
    font-size: 5vw;
    margin-top: 5%;
    white-space: nowrap;
    text-align: center;
}
.cabecalho a {
    color: #f7941d;
    text-decoration: none;
    font-size: 25px;
    font-family: 'lilita one', cursive;

  }

.primeirasecao {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.primeirasecao div {
    background-color: #D9D9D9;
    margin: 5px;
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    cursor: pointer;
}

.primeirasecao div img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
}
  
#tipo1{
    background-image: url("./img/tipo1.png");
}
#tipo2{
    background-image: url("./img/tipo3.png");
}
#tipo3{
    background-image: url("./img/tipo3.png");
}
#tipo4{
    background-image: url("./img/tipo5.png");
}
#tipo5{
    background-image: url("./img/tipo5.png");
}

.tipos {
    display: flex;
    align-items: center;

}

.tipos p{
    width:50%;
    margin:5px;
    text-align: center;
    font-size: 20px;
}

.link-texto-tipos{
    color: black;
    text-decoration: none;
}

hr{
    background-color: #D9D9D9;
    margin: 20px;
}

.segundasecao {
	width: 80%;
	margin: 0 auto;
	line-height: 0;
	position: relative;
}
.segundasecao img {
	width: 100%;
}
.segundasecao article {
	position: absolute;
	top: 0;
	width: 100%;
	background: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	mix-blend-mode: lighten;
}
.segundasecao div {
    background-color:black;
	height: 25.8vw;
}
.segundasecao div:nth-of-type(2) {
	grid-column: 2 / 4;
}

.terceirasecao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 240px;

}

.terceirasecao div{
    width: 100%;
    margin-bottom:10px;
    margin-top:10px;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    gap:2em;
    margin: 0 20px;
}

.carousel-item {
    flex: 0 0 calc(100% / 3 - 34px);
    height: 500px;
    margin: 10px 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.carousel-btn {
    background-color: #333;
    position: absolute;
    top: 50%;
    margin:0 40px;
    border-radius:100%;
    width: 60px;
    height: 60px;
    font-size:35px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-btn:hover{
    background-color: #474747;
}

.carousel-btn p{
    position:absolute;
    top:12%;
    left:39%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.quartasecao{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px 0 50px 0;
}

.quadrodereceitas {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 85rem;
  }

.quadrodereceitas .receitaDiv{
    border: 3px solid #afaaaa;
    border-radius: 8px;
    height: 135.59px;
    width: 400px;
    margin:10px;
    display: flex;
    cursor: pointer;
}

.quadrodereceitas .receitaDiv .imgDiv{
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.quadrodereceitas .receitaDiv .imgDiv img{
    border-radius:8px;
    width:100px;
    height:100px;
}

.quadrodereceitas .receitaDiv .propsDiv{
    display: flex;
    height:100%;
    width:100%;
    margin-left: 10px;
    align-items: center;
}
.quadrodereceitas .receitaDiv .propsDiv p{
    font-size:14px;
    font-weight: bold;
}

.r1{
    cursor: pointer;
    height: 100px;
    width: 100px;;
}
#scroll{
    height: 1200px;
    max-width: 1300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
     max-height: 1000px;/* Cabe exatamente 30 elementos (que foi definido no js) */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    
    .parallax {
        background-image: url("./img/bannerprincipal.png");
        margin: 0;
        height: 300px;
        background-attachment: fixed;
        background-size: cover; /* Tornar a imagem responsiva */
        background-position: center; /* Centralizar a imagem */
    }

    .primeirasecao {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .primeirasecao div {
        background-color: #D9D9D9;
        margin: 5px;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        cursor: pointer;
    }

    .primeirasecao div img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
    }

    .tipos {
        display: flex;
        align-items: center;
    }
    
    .tipos p{
        width: 100%;
        margin: 5px;
        text-align: center;
        font-size: 10px;
    }

    .segundasecao {
        width: 80%;
        margin: 0 auto;
        line-height: 0;
        position: relative;
    }

    .segundasecao img {
        width: 100%;
    }
    
    .segundasecao article {
        position: absolute;
        top: 0;
        width: 100%;
        background: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        mix-blend-mode: lighten;
    }
    
    .segundasecao div {
        background-color:black;
        height: 24.1vw;
    }

    .segundasecao div:nth-of-type(2) {
        grid-column: 2 / 4;
    }

    .terceirasecao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 50px;
    }
    
    .terceirasecao div{
        width: 100%;
        margin-bottom:10px;
        margin-top:10px;
    }

    .carousel-item {
        flex: 0 0 calc(100% / 2 - 34px);
        height: 200px;
    }
    
    .carousel-inner {
        gap: 1em;
        margin: 0 20px;
    }

    .carousel-btn {
        background-color: #333;
        position: absolute;
        top: 50%;
        margin: 0;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        font-size: 25px;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        transform: translateY(-50%);
    }

    /* 
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
        gap:2em;
        margin: 0 20px;
    }
    
    .carousel-item {
        flex: 0 0 calc(100% / 3 - 34px);
        height: 250px;
        margin: 10px 0;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border-radius: 0.5em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
    
        Barbosa arruma por favor
    */

    .quartasecao{
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 50px 60px 0 60px;
    }
    
    .quadrodereceitas {
        width: 90%;
        width: auto;
        flex-direction: column;
        align-items: stretch;
        align-items: center;
        justify-content: flex-start;
      }

    .quadrodereceitas .receitaDiv{
        border: 3px solid #afaaaa;
        border-radius: 8px;
        height: 135.59px;
        width: 16rem;
        margin:10px;
        display: flex;
        cursor: pointer;
    }
}

footer {
    margin-top: 100px;
    background-color: #E4C05A;
    height: 100px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



