* {
    margin: 0;
    padding: 0;
  
  }

body{
    overflow-x:hidden;
}

header{
    margin: 0;
}

.container{
    position: relative;   
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.cabecalho .barra_inicial {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.cabecalho p{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.cabecalho .barra_inicial a{
    text-decoration: none;
    color: inherit;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.lista{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;

    margin: 0 15rem 5rem 15rem;
    
}

.lista {
    display: flex;
    justify-content: space-between;
}

.imagem_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 7px;
    width: 40%;
}

.imagem_div img{
    width: 100%;
    height: 100%;
}

.texto_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    background-color: #E4C05A;
}

.texto_div p {
    text-align: justify;
    padding: 2rem; 
    font-size: 1em;
}

footer{
    background-color: #E4C05A;
    height: 70px;
    align-items:end;
    display:flex;
    justify-content:flex-end;
}

footer p{
    margin: 10px 30px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 15px;
}
