* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    overflow-x:hidden;
}

body h1{
    width:100%;
    text-align:center;
}

header{
    margin:0;
}

.container{
    position: relative;
}

#gambiarra {
    width: 100%;
    height: 10vh;
    background-color: #E4C05A;
  }

  @media (max-width: 768px) {
    #gambiarra {
      height: 5vh;
    }
  }

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .cabecalho .barra_inicial {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .cabecalho .barra_inicial p {
    margin: 10px;
    font-size: 20px;
  }

  .cabecalho h1 {
    font-size: 5vw;
    margin-top: 5%;
    white-space: nowrap;
    text-align: center;
  }

  .primeirasecao {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .primeirasecao div {
    background-color: #D9D9D9;
    margin: 5px;
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    cursor: pointer;
  }

  .primeirasecao div img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    .cabecalho h1 {
      font-size: 8vw;
    }

    .primeirasecao div {
      height: 6.25rem;
      width: 6.25rem;
    }

    .primeirasecao div img {
      height: 6.25rem;
      width: 6.25rem;
    }
  }


#tipo1{
    background-image: url("./img/tipo1.png");
}
#tipo2{
    background-image: url("./img/tipo3.png");
}
#tipo3{
    background-image: url("./img/tipo3.png");
}
#tipo4{
    background-image: url("./img/tipo5.png");
}
#tipo5{
    background-image: url("./img/tipo5.png");
}

.tipos {
    display: flex;
    align-items: center;

}

.tipos p{
    width:50%;
    margin:5px;
    text-align: center;
    font-size: 20px;
}
.link-texto-tipos{
    color: black;
    text-decoration: none;
}

hr{
    background-color: #D9D9D9;
    margin: 20px;
}

.segundasecao{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    height: 40rem;
    margin: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#b1{
   background-color: #D9D9D9;
   height: 93.33%;
   width: 40%;
   align-self: flex-start;
   margin: 5px 5px 0 5px;
   background-image: url("./img/banner1.png");
}

.alinhabanner{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    width: 80%;
    height: 93.33%;
}

#b2b3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#b2 {
    background-image: url("./img/banner2.png");
}

#b3 {
    background-image: url("./img/banner3.png");
}
#b2, #b3{
   background-color: #D9D9D9;
   height: 100%;
   width: 100%;
   margin: 5px 5px 5px 5px;
}

#divb4{
    height: 48.55%;
    width: 100%;
    margin: 5px 5px 5px 5px;
}
#b4{
    background-color: #D9D9D9;
    height: 100%;
    width: 100%;
    background-image: url("./img/banner4.png");
 }

.terceirasecao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 240px;

}

.terceirasecao div{
    width: 100%;
    margin-bottom:10px;
    margin-top:10px;
}

.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    gap:2em;
    margin: 0 20px;
}

.carousel-item {
    flex: 0 0 calc(100% / 3 - 34px);
    height: 500px;
    margin: 10px 0;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.carousel-btn {
    background-color: #333;
    position: absolute;
    top: 50%;
    margin:0 40px;
    border-radius:100%;
    width: 60px;
    height: 60px;
    font-size:35px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY(-50%);
}

.carousel-btn:hover{
    background-color: #474747;
}

.carousel-btn p{
    position:absolute;
    top:12%;
    left:39%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


.quartasecao{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 20px 0 50px 0;
}

.quadrodereceitas {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 85rem;
  }

  @media (max-width: 768px) {
    .quadrodereceitas {
      width: 90%;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
    }
  }

.quadrodereceitas .receitaDiv{
    border: 3px solid #afaaaa;
    border-radius: 8px;
    height: 135.59px;
    width: 400px;
    margin:10px;
    display: flex;
    cursor: pointer;
}

.quadrodereceitas .receitaDiv .imgDiv{
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.quadrodereceitas .receitaDiv .imgDiv img{
    border-radius:8px;
    width:100px;
    height:100px;
}

.quadrodereceitas .receitaDiv .propsDiv{
    display: flex;
    height:100%;
    width:100%;
    margin-left: 10px;
    align-items: center;
}
.quadrodereceitas .receitaDiv .propsDiv p{
    font-size:14px;
    font-weight: bold;
}

.r1{
    cursor: pointer;
    height: 100px;
    width: 100px;;
}
#scroll{
    height: 1200px;
    max-width: 1300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: black transparent;
     max-height: 1000px;/* Cabe exatamente 30 elementos (que foi definido no js) */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #E4C05A;
    height: 10em;
    align-items:end;
    display:flex;
    justify-content:flex-end;
}

footer p{
    margin: 2em 10em 4em 0em;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-size: 20px;
}



